.aboutme-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.aboutme-image {
  top: -183px;
  flex: 1;
  width: 100%;
  height: MaxContent;
  opacity: 0.3;
  position: absolute;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}
.aboutme-text {
  color: var(--dl-color-gray-black);
  font-size: 15px;
  font-family: monospace;
  width: 80%;
  font-weight: 600;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-fiveunits);
  letter-spacing: 2;
  text-transform: none;
  text-decoration: none;
}
